<div class="carousel slide">
	<ul class="carousel-inner unstyled">
	<% @homepage_hero_items.each do |homepage_hero_item| %>
		<% if homepage_hero_item.position == 0 %>
		<li class="active item">
		<% else %>
		<li class="item">
		<% end %>
			<%= image_fu homepage_hero_item.photo,"1170x520#"  %>
		</li>
	<% end %>
	</ul>
</div>
<!-- <%= render '/refinery/content_page' %> -->
<%- if @featured_portfolios.present? -%>
  <ul id="galleries" class='no-list'>
	<% @featured_portfolios.each do |gallery| %>
	<li id="<%= dom_id(gallery) %>" class="gallery">
	  <%= link_to refinery.portfolio_gallery_path(gallery) do %>
	    <% if gallery.cover_image.present? %>
	      <div class="image">
	        <%= image_fu gallery.cover_image.image, 
	              ::Refinery::Portfolio.cover_image_thumb_size,
	              {:title => gallery.cover_image.title} %>
	      </div>
	    <% end %>

	      <div class="details">
	        <h2><%= gallery.title %></h2>
	        <% if ::Refinery::Portfolio.display_gallery_text %>
	          <%= raw gallery.description %>
	        <% end %>
	      </div>
	  <% end %>
	</li>
	<% end %>
  </ul>
<%- end -%> 
<%= raw @featured_portfolios %>