<div class="carousel slide">
	<ul class="carousel-inner unstyled">
	<% @homepage_hero_items.each do |homepage_hero_item| %>
		<% if homepage_hero_item.position == 0 %>
		<li class="active item">
		<% else %>
		<li class="item">
		<% end %>
			<%= image_fu homepage_hero_item.photo,"1170x520#"  %>
		</li>
	<% end %>
	</ul>
</div>
<!-- <%= render '/refinery/content_page' %> -->

<%- if @featured_portfolios.present? -%>
<div class="featured-projects">
	<h2>Featured Projects</h2>
	<ul class="unstyled projects clearfix">
		<% @featured_portfolios.each do |gallery| %>
		<li id="<%= dom_id(gallery) %>" class="project span4">
		  
		    <% if gallery.cover_image.present? %>
		      <div class="image">
		        <%= link_to refinery.portfolio_gallery_path(gallery) do %>
					<%= image_fu gallery.cover_image.image, 
		              "725x366#",
		              {:title => gallery.cover_image.title} %>
				<% end %>
		      </div>
		    <% end %>
		  <div class="details">
	        <h3><%= gallery.title %></h3>
	          <p><%= raw gallery.teaser %></p>
	      </div>
		</li>
		<% end %>
	 </ul>
</div>
<%- end -%> 
